@require "../../mixins";

.row {
	clearfix();

	[class^="col-"],
	[class*=" col-"] {
		float: left;
		min-height: 1px;
		unless ("normalise" in $components) {
			box-sizing(border-box);
		}
	}

	if ("screen" in $components) {
		for $threshold, $gutter in $gutterWidths {
			$columnStyle = @block {
				margin-left: (-1 * $gutter / 2);
				margin-right: (-1 * $gutter / 2);

				[class^="col-"],
				[class*=" col-"] {
					padding-left: ($gutter / 2);
					padding-right: ($gutter / 2);
				}

				for $width in 1..$numColumns {
					.col-{$threshold}-{$width} {
						width: ($width / $numColumns * 100%);
					}
				}
			}
			$media = media($threshold, true);
			if ($media) {
				@media $media {
					{$columnStyle};
				}
			} else {
				{$columnStyle};
			}
		}
	} else {
		[class^="col-"],
		[class*=" col-"] {
			padding-left: ($gutterWidth / 2);
			padding-right: ($gutterWidth / 2);
		}
		for $width in 1..$numColumns {
			.col-{$width} {
				width: ($width / $numColumns * 100%);
			}
		}
	}
}
