// Total number of columns in a row
$numColumns = 12 unless $numColumns is defined;

// Gutter width is used only in the absence of the "screen" component
$gutterWidth = 20px unless $gutterWidth is defined;

// Gutter widths are used only in conjunction with the "screen" component
$gutterWidths = {
	xs: 10px
	sm: 20px,
	md: 20px,
	lg: 30px,
	xl: 30px,
} unless $gutterWidths is defined;
