.callout {
	makeCallout($type) {
		border-width: $callout[$type]["borderWidth"] unless $type != "default" && $callout[$type]["borderWidth"] == $callout["default"]["borderWidth"];
		border-color: $callout[$type]["borderColour"] unless $type != "default" && $callout[$type]["borderColour"] == $callout["default"]["borderColour"];
		padding: $callout[$type]["padding"] unless $type != "default" && $callout[$type]["padding"] == $callout["default"]["padding"];
		background-color: $callout[$type]["backgroundColour"] unless ($type == "default" && $callout[$type]["backgroundColour"] == transparent) || $type != "default" && $callout[$type]["backgroundColour"] != $callout["default"]["backgroundColour"];
		color: $callout[$type]["textColour"] unless ($type == "default" && $callout[$type]["textColour"] == transparent) || $type != "default" && $callout[$type]["textColour"] == $callout["default"]["textColour"];

		if (($type == "default" && $callout[$type]["headingColour"] != $colour.text) || $type != "default" && $callout[$type]["headingColour"] != $callout["default"]["headingColour"]) {
			h1, h2, h3, h4, h5, h6 {
				color: $callout[$type]["headingColour"];
			}
		}

		if (($type == "default" && $callout[$type]["linkColour"] != $colour.link) || $type != "default" && $callout[$type]["linkColour"] != $callout["default"]["linkColour"]) {
			a {
				color: $callout[$type]["linkColour"];
				&:hover {
					color: darken($callout[$type]["linkColour"], 15%);
				}
			}
		}
	}

	> *:first-child {
		margin-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
	}

	border-style: solid;

	makeCallout("default");
	for $type in ("primary" "secondary" "cta" "success" "info" "warning" "error") {
		&.{$type} {
			makeCallout($type);
		}
	}
}
