@require "../../mixins";

.button {
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	border: 0;
	cursor: pointer;
	padding: $size.default.paddingVertical $size.default.paddingHorizontal;
	font-size: $size.default.fontSize;
	if ($button.radius != 0) {
		border-radius($button.radius);
	}
	&.disabled, &[disabled] {
		cursor: not-allowed;
		opacity: 0.65;
	}
	&:active, &:focus {
		outline: none;
	}

	makeButton($button.default.backgroundColour, $button.default.backgroundColourHover, $button.default.colour);
	if ($button.default.fontWeight != normal) {
		font-weight: $button.default.fontWeight;
	}

	// various button roles (colour variations)
	for $type in ("primary" "secondary" "cta" "success" "info" "warning" "error") {
		&.{$type} {
			makeButton($button[$type].backgroundColour, $button[$type].backgroundColourHover, $button[$type].colour);
			if ($button[$type]["fontWeight"] != $button["default"]["fontWeight"]) {
				font-weight: $button[$type].fontWeight;
			}
		}
	}

	// various button sizes
	for $siz in ("tiny" "small" "big" "giant") {
		&.{$siz} {
			padding: $size[$siz].paddingVertical $size[$siz].paddingHorizontal;
			font-size: $size[$siz].fontSize;
		}
	}

	// block buttons
	&.block {
		display: block;
		width: 100%;
	}

	// ghost buttons
	&.ghost {
		background: transparent;
		color: $button.default.ghostColour;
		border: $button.default.ghostBorderWidth solid $button.default.ghostColour;
		padding: ($size.default.paddingVertical - $button.default.ghostBorderWidth) ($size.default.paddingHorizontal - $button.default.ghostBorderWidth);
		&:hover:not(.disabled):not([disabled]) {
			background: $button.default.ghostBackgroundHover;
			border-color: transparent;
			color: $button.default.ghostColourHover;
		}

		// various button sizes
		for $siz in ("tiny" "small" "big" "giant") {
			&.{$siz} {
				padding: ($size[$siz]["paddingVertical"] - $button.default.ghostBorderWidth) ($size[$siz]["paddingHorizontal"] - $button.default.ghostBorderWidth);
			}
		}

		// various button roles (colour variations)
		for $type in ("primary" "secondary" "cta" "success" "info" "warning" "error") {
			&.{$type} {
				color: $button[$type].ghostColour;
				border: $button[$type].ghostBorderWidth solid $button[$type].ghostColour;
				&:hover:not(.disabled):not([disabled]) {
					background: $button[$type].ghostBackgroundHover;
					color: $button[$type].ghostColourHover;
				}

				// various button sizes
				if ($button[$type]["ghostBorderWidth"] != $button.default.ghostBorderWidth) {
					for $siz in ("tiny" "small" "big" "huge") {
						&.{$siz} {
							padding: ($size[$siz]["paddingVertical"] - $button[$type]["ghostBorderWidth"]) ($size[$siz]["paddingHorizontal"] - $button[$type]["ghostBorderWidth"]);
						}
					}
				}
			}
		}
	}
}
