@require "../../functions";

$button = {} unless $button is defined;

defineHashValues($button, {
	radius:    0,
	default:   {},
	primary:   {},
	secondary: {},
	cta:       {},
	success:   {},
	info:      {},
	warning:   {},
	error:     {}
});

defineHashValues($button.default, {
	backgroundColour:      $colour.default,
	backgroundColourHover: darken($colour.default, 15%),
	colour:                $colour.text,
	fontWeight:            normal,
	ghostColour:           $colour.text,
	ghostColourHover:      #FFFFFF,
	ghostBorderWidth:      2px,
	ghostBackgroundHover:  $colour.text
});

defineHashValues($button.primary, {
	backgroundColour:      $colour.primary,
	backgroundColourHover: darken($colour.primary, 15%),
	colour:                #FFFFFF,
	fontWeight:            normal,
	ghostColour:           $colour.primary,
	ghostColourHover:      #FFFFFF,
	ghostBorderWidth:      2px,
	ghostBackgroundHover:  $colour.primary
});

defineHashValues($button.secondary, {
	backgroundColour:      $colour.secondary,
	backgroundColourHover: darken($colour.secondary, 15%),
	colour:                #FFFFFF,
	fontWeight:            normal,
	ghostColour:           $colour.secondary,
	ghostColourHover:      #FFFFFF,
	ghostBorderWidth:      2px,
	ghostBackgroundHover:  $colour.secondary
});

defineHashValues($button.cta, {
	backgroundColour:      $colour.cta,
	backgroundColourHover: darken($colour.cta, 15%),
	colour:                #FFFFFF,
	fontWeight:            bold,
	ghostColour:           $colour.cta,
	ghostColourHover:      #FFFFFF,
	ghostBorderWidth:      2px,
	ghostBackgroundHover:  $colour.cta
});

defineHashValues($button.success, {
	backgroundColour:      $colour.success,
	backgroundColourHover: darken($colour.success, 15%),
	colour:                #FFFFFF,
	fontWeight:            normal,
	ghostColour:           $colour.success,
	ghostColourHover:      #FFFFFF,
	ghostBorderWidth:      2px,
	ghostBackgroundHover:  $colour.success
});

defineHashValues($button.info, {
	backgroundColour:      $colour.info,
	backgroundColourHover: darken($colour.info, 15%),
	colour:                #FFFFFF,
	fontWeight:            normal,
	ghostColour:           $colour.info,
	ghostColourHover:      #FFFFFF,
	ghostBorderWidth:      2px,
	ghostBackgroundHover:  $colour.info
});

defineHashValues($button.warning, {
	backgroundColour:      $colour.warning,
	backgroundColourHover: darken($colour.warning, 15%),
	colour:                #FFFFFF,
	fontWeight:            normal,
	ghostColour:           $colour.warning,
	ghostColourHover:      #FFFFFF,
	ghostBorderWidth:      2px,
	ghostBackgroundHover:  $colour.warning
});

defineHashValues($button.error, {
	backgroundColour:      $colour.error,
	backgroundColourHover: darken($colour.error, 15%),
	colour:                #FFFFFF,
	fontWeight:            normal,
	ghostColour:           $colour.error,
	ghostColourHover:      #FFFFFF,
	ghostBorderWidth:      2px,
	ghostBackgroundHover:  $colour.error
});
