/**
 * Calculated minimum nad maximum widths for screen width thresholds
 */
@require "../../functions";

// min widths for thresholds
for $threshold, $width in $screen {
	if ($threshold != keys($screen)[0]) {
		$screenMin[$threshold] = $width;
	}
}

// max widths for thresholds
for $threshold, $width in reverseHash($screen) {
	if ($prevWidth is defined) {
		$screenMax[$threshold] = $prevWidth - 1;
	}

	$prevWidth = $width;
}

// media queries for thresholds
for $threshold, $width in $screen {
	$mq[$threshold] = media($threshold);
}

// media queries for threshold ranges
for $threshold1 in $screen {
	for $threshold2 in $screen {
		if ($threshold1 in $screenMax && $threshold2 in $screenMin && $screenMax[$threshold1] < $screenMin[$threshold2]) {
			$key = $threshold1 + "-to-" + $threshold2;
			$mq[$key] = mediaRange($threshold1, $threshold2);
		}
	}
}

