/**
 * Get media query as string for a given screen width threshold
 * @param   $threshold The name of the threshold, e.g. "lg"
 * @returns            Media query string
 */
media($threshold, $minOnly = false) {
	$media = ();
	if ($threshold in $screenMin) {
		push($media, "(min-width: " + $screenMin[$threshold] + ")");
	}
	if ($threshold in $screenMax && !$minOnly) {
		push($media, "(max-width: " + $screenMax[$threshold] + ")");
	}

	return join(" and ", $media) || "";
}

/**
 * Get media query as string for a given screen thresholds range
 * @param   $threshold1 The name of the lower threshold, e.g. "sm"
 * @param   $threshold2 The name of the upper threshold, e.g. "lg"
 * @returns             Media query string
 */
mediaRange($threshold1, $threshold2) {
	$media = ();
	if ($threshold1 in $screenMin) {
		push($media, "(min-width: " + $screenMin[$threshold1] + ")");
	}
	if ($threshold2 in $screenMax) {
		push($media, "(max-width: " + $screenMax[$threshold2] + ")");
	}

	return join(" and ", $media) || "";
}
