/**
 * Screen widths used for specifying different width thresholds in media queries
 */

@require "../../functions";

$screen = {} unless $screen is defined;
defineHashValues($screen, {
	xs: 240px
	sm: 480px,
	md: 720px,
	lg: 960px,
	xl: 1280px
});

$screenMin = {} unless $screenMin is defined;
$screenMax = {} unless $screenMax is defined;
$mq = {} unless $mq is defined;
