body {
	font: normal $type.size/$type.lineHeightComputed $type.family;
}

small, .small {
	font-size: $type.sizeSmall;
}

// Headings
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: $type.heading.fontFamily;
	color: $type.heading.colour;
	line-height: $type.heading.lineHeight;
	margin: 0 0 ($type.lineHeightComputed / 2);
}

for $i in (1..6) {
	$tag = "h" + $i;
	{$tag}, .{$tag} {
		font-size: $type[$tag].size;
		font-weight: $type[$tag].weight;
		font-family: $type[$tag].family unless $type[$tag]["family"] == $type.heading.family;
		line-height: $type[$tag].lineHeight unless $type[$tag]["lineHeight"] == $type.heading.lineHeight;
		color: $type[$tag].colour unless $type[$tag]["colour"] == $type.heading.colour;
	}
}

h1, .h1, h2, .h2, h3, .h3 {
	small, .small {
		font-size: 65%;
	}
}
h4, .h4, h5, .h5, h6, .h6 {
	small, .small {
		font-size: 75%;
	}
}

// Main text styles
p {
	margin: 0 0 ($type.lineHeightComputed / 2);
}

code, pre, kbd {
	font-family: $type.familyMonospace;
}

blockquote {
	font-family: $type.blockquote.family;
	font-size: $type.blockquote.size;
	font-style: $type.blockquote.style;
	color: $type.blockquote.colour;
	border-left: $type.blockquote.border;
}

// Text alignment & wrapping
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-centre, .text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.text-nowrap {
	white-space: nowrap;
}


