@require "../../functions";

$type = {} unless $type is defined;

defineHashValues($type, {
	familySansSerif:  unquote('"Helvetica Neue", Helvetica, Arial, sans-serif'),
	familySerif:      unquote('Georgia, "Times New Roman", Times, serif'),
	familyMonospace:  unquote('Menlo, Monaco, Consolas, "Courier New", monospace'),
	style:            normal,
	weight:           normal,
	size:             14px,
	sizeSmall:        12px,

	heading: {},
	h1:      {},
	h2:      {},
	h3:      {},
	h4:      {},
	h5:      {},
	h6:      {},

	lineHeight: 1.5,

	blockquote: {}
});

defineHashValues($type, {
	lineHeightComputed: $type.size * $type.lineHeight
});

defineHashValues($type, {
	family: $type.familySansSerif,
	colour: $colour.darkerGrey
});

defineHashValues($type.heading, {
	family:     inherit,
	colour:     inherit,
	lineHeight: 1.1
});

defineHashValues($type.h1, {
	family:     inherit,
	colour:     inherit,
	size:       36px,
	weight:     bold,
	lineHeight: 1.1
});

defineHashValues($type.h2, {
	family:     inherit,
	colour:     inherit,
	size:       30px,
	weight:     bold,
	lineHeight: 1.1
});

defineHashValues($type.h3, {
	family:     inherit,
	colour:     inherit,
	size:       24px,
	weight:     bold,
	lineHeight: 1.1
});

defineHashValues($type.h4, {
	family:     inherit,
	colour:     inherit,
	size:       18px,
	weight:     normal,
	lineHeight: 1.1
});

defineHashValues($type.h5, {
	family:     inherit,
	colour:     inherit,
	size:       14px,
	weight:     normal,
	lineHeight: 1.1
});

defineHashValues($type.h6, {
	family:     inherit,
	colour:     inherit,
	size:       12px,
	weight:     normal,
	lineHeight: 1.1
});

defineHashValues($type.blockquote, {
	family:   inherit,
	colour:   inherit,
	size:     $type.size,
	style:    italic,
	padding:  ($type.lineHeightComputed / 2) $type.lineHeightComputed,
	margin:   0 0 ($type.lineHeightComputed / 2),
	border:   5px solid $colour.lightGrey
});
