@require "../../functions";

// base colours
$colour = {} unless $colour is defined;

defineHashValues($colour, {
	black:       #202020,
	darkerGrey:  #303030,
	darkGrey:    #606060,
	grey:        #808080,
	lightGrey:   #A0A0A0,
	lighterGrey: #C0C0C0,
	white:       #F8F8F8,

	default:     #F3EDDD,
	primary:     #3D8498,
	secondary:   #E6C459,
	cta:         #DF4C2B,
	success:     #54AC35,
	info:        #56B5C3,
	warning:     #E3BC2B,
	error:       #DD483E,

	background:  #FFFFFF
});

defineHashValues($colour, {
	text:      $colour.darkerGrey,
	link:      $colour.primary
});
defineHashValues($colour, {
	linkHover: darken($colour.link, 15%)
});
