/**
 * Safely define hash values
 * @param   $target Target hash
 * @param   $values Hash of values
 * @returns         The target hash with defined new values
 */
defineHashValues($target, $values) {
	for $key, $value in $values {
		$target[$key] = $value unless $key in $target;
	}

	return $target;
}

/**
 * Reverse a hash (reverse the keys order)
 * @param   $hash A hash
 * @returns       Input hash, but with keys ordered inversely
 */
reverseHash($hash) {
	$output = {};
	$keys = keys($hash);
	for $i in (length($keys)-1)..0 {
		$key = $keys[$i];
		$output[$key] = $hash[$key];
	}

	return $output;
}
