clearfix() {
	&:after {
		clear: both;
	}
}
box-sizing($boxSizing) {
	-webkit-box-sizing: $boxSizing;
	   -moz-box-sizing: $boxSizing;
	        box-sizing: $boxSizing;
}
border-radius($borderRadius) {
	-webkit-border-radius: $borderRadius;
	   -moz-border-radius: $borderRadius;
	        border-radius: $borderRadius;
}
